<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heyongrui.main">

    <application>
        <activity
            android:name=".MainActivity"
            android:theme="@style/BaseAppTheme"></activity>
        <activity
            android:name=".planetball.view.PlanetBallActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".mob.view.MobActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".mob.view.MobWeatherActivity"
            android:theme="@style/BaseAppTheme" />
    </application>
</manifest>
