<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heyongrui.base">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /><!--开启未知应用安装权限的入口-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <!--适配全面屏手机-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.heyongrui.base.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
