<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heyongrui.module">

    <application>
        <activity
            android:name=".textword.view.HitokotoActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".textword.view.PoetryActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".textword.view.PoetrySearchActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".textword.view.PoetryDetailActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".textword.view.PoemGroupDetailActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".kaiyan.view.KaiYanListActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".kaiyan.view.KaiYanDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".douban.view.DouBanActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".dailylife.view.GarbageClassificationActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".mono.view.MonoTeaActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".mono.view.MonoTeaHistoryDateActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".mono.view.MonoCategoryActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".h5.X5WebViewActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".textword.view.SmartRobotActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".zhihu.view.ZhiHuDailyNewsActivity"
            android:theme="@style/BaseAppTheme" />
    </application>
</manifest>
