<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heyongrui.user">

    <application>
        <activity
            android:name=".UserActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".KotlinActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".EncourageActivity"
            android:theme="@style/BaseAppTheme" />
    </application>

</manifest>
